<div class="container">
  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field class="full-width">
      <input matInput placeholder="Título" formControlName="title" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Assunto" formControlName="subject">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Descrição" formControlName="description">
    </mat-form-field>
    <button type="button" class="btn-cancel" mat-button (click)="dialogRef.close()">{{('Cancel' | translate).toUpperCase()}}</button>
    <button type="submit" class="btn-ok" mat-button color="primary" [disabled]="!form.dirty">{{('Save' | translate).toUpperCase()}}</button>
  </form>
</div>