<button mat-raised-button (click)="addRoom()" color="accent" class="button">
		<span>Nova sala</span>
	</button>
<mat-list>
  <mat-list-item *ngFor="let item of items">{{ item }}</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
  <mat-list-item>Teste</mat-list-item>
</mat-list>